* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 0rem 2rem;
}
a {
  text-decoration: none;
  color: rgb(61, 61, 242);
}
/* utilites */

/*    */
#header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

#header_content .languages {
  color: blue;
}
main {
  display: flex;
  justify-content: space-between;
}
.main_content {
  max-width: 60vw;
}
.side_content {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#deseribe_value {
  display: flex;
  /* justify-content: space-between; */
}
.content_details {
}

.content_details_opening_describe {
  margin-bottom: 1rem;
}
.content_details_tableoOfContents {
  margin-bottom: 1rem;
  width: 11rem;
  height: fit-content;
  border: 1px solid black;
  padding: 1rem;
  background-color: #f8f9fa;
}
.tableoOfContents_heading {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.tableoOfContents_heading .toggleButton {
  background-color: inherit;
  border: none;
}

.content_details_tableoOfContents ol li {
  margin-right: 1rem;
}
.content_details_tableoOfContents ol li:not(li:last-child) {
  margin-bottom: 0.5rem;
}

.value_basic_details {
  border: 1px solid black;
}

.value_basic_details a {
  text-decoration: none;
  text-align: center;
}
.value_basic_details_nameFood {
  display: flex;

  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0 1rem;
  background-color: #90ee90;
}

img.applePic {
}

.value_basic_details_kindSort_header {
  padding: 0 1rem;
  background-color: #90ee90;
  text-align: center;
}
.value_basic_details_scientificName_header {
  padding: 0 1rem;
  background-color: #90ee90;
  text-align: center;
}
.value_basic_details_scientificName_name {
  text-align: center;
  font-size: 0.8rem;
}
.value_basic_details_table li {
  display: flex;
  justify-content: space-around;
}

.section_header_block {
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 1.2rem;
}

.section_header_heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section_details {
  margin: 1rem 0;
}

.picture {
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem 0;
  background-color: #f8f9fa;
  width: fit-content;
}

.nutrition_values {
  background-color: #d2d8de;
  width: 15rem;
  border: 1px solid #aaaaaa;
  font-size: 0.9rem;
}
.nutrition_values a {
  color: #0645ad;
}
.nutrition_values caption {
  width: 100%;
  text-align: center;
  background-color: #ffecb2;
}
.nutrition_values caption b {
  font-size: 1.2rem;
}

.nutrition_values th,
td {
  text-align: right;
  vertical-align: top;
}
.nutrition_values td {
  text-align: center;
}
.nutrition_values .tr_border {
  background-color: #ffecb2;
  height: 1px;
}
.picture_gallary {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
  grid-template-columns: repeat(4, 20%);
}

.picture_gallary .picture img {
  width: 100%;
}
